@charset "utf-8";

body {
  min-width: 375px;
  margin: 0;
  background-color: #ffffff;
  color: #000;
  font-family: "Noto Sans JP";
  font-weight: normal;
  font-size: clamp(12px, 2vw, 24px);
}

#wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

span {
  display: inline-block;
}

/* common */
.sub_tit {
  color: #1567F4;
  font-weight: bold;
  font-size: clamp(12px, 1.5vw, 21vw);
}

.section_tit {
  margin-top: 1vw;
  color: #EC2AB2;
  font-weight: bold;
  font-size: clamp(24px, 3vw, 42px);
}

.g-nav ul li a:hover,
.access_text p a:hover,
.sns_icons a img:hover {
  opacity: 0.6;
}

/* HEADER */
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1vw;
  
}

.header a img {
  width: 12vw;
  max-width: 150px;
  min-width: 60px;
}

.header nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2vw;
  font-family: "Noto Sans";
  font-weight: bold;
}

.app a {
  background-color: #ffffff;
  padding: 0.5vw 1vw;
}

/* HOME */
.home {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100dvh;
  min-height: 500px;
}

.home_flex {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 3vw;
  width: 100%;
  padding: 4vw;
  color: #1567F4;
}

.red {
  color: #EC2AB2;
}

.yellow {
  color: #CFCB5F;
}

.green {
  color: #78C070;
}

.video-area {
  position: relative;
  z-index: -1;
  top: 0;
  right:0;
  left:0;
  bottom:0;
  height: 100vh;
  height: 100dvh;
  overflow: hidden;
}

.video {
  /*天地中央配置*/
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*縦横幅指定*/
  width: 177.77777778vh; /* 16:9 の幅→16 ÷ 9＝ 177.77% */
  height: 56.25vw; /* 16:9の幅 → 9 ÷ 16 = 56.25% */
  min-height: 100%;
  min-width: 100%;
  overflow: hidden;
}

.home_left {
  font-weight: bold;
  text-align: left;
  text-shadow: 3px 2px 3px #FFF;
}

.date {
  margin-top: 1vw;
  font-size: clamp(40px, 7vw, 89px);
}

.date span {
  font-size: clamp(30px, 4vw, 56px);
}

.home h1 {
  margin-bottom: 1vw;
  letter-spacing: 0.5rem;
}

.home h1 span {
  margin-bottom: 1vw;
  font-size: clamp(20px, 4vw, 42px);
  font-weight: bold;
}

.home_right a img{
  width: 12vw;
  min-width: 100px;
  transition: .3s;
}

.home_right a img:hover {
  scale: 1.2;
}

/* ABOUT */
.about {
  padding-top: 10vw;
  line-height: 2;
}

.about article {
  width: 86vw;
  max-width: 1000px;
  margin: 0 auto;
}


/* MESSAGE */
.message {
  padding-top: 10vw;
}

.message_wp {
  margin-top: 5vw;
}

.yasuda_message {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5vw;
  width: 86vw;
  max-width: 1280px;
  margin: 0 auto;
}

.yasuda_message img {
  width: 25vw;
  max-width: 300px;
  min-width: 200px;
}

.yasuda_message_text {
  overflow-wrap: anywhere;
  width: 45vw;
  flex: 1;
  text-align: left;
  font-family: "Noto Sans";
  font-size: clamp(12px, 1.5vw, 24px);
  font-weight: bold;
}

.yasuda_message_text h3 {
  margin-bottom: 0.5vw;
  font-size: clamp(16px, 2vw, 32px);
}

.yasuda_message_text article p {
  margin-top: 2vw;
  font-family: "Noto Sans JP";
  font-size: clamp(10px, 1.3vw, 18px);
  color: #000;
  line-height: 1.5;
}

.message_flex {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 86vw;
  max-width: 1280px;
  margin: 5vw auto 0;
}

.message_flex_inner {
  display: flex;
  justify-content: center;
  height: 30vw;
}

.sugi {
  align-items: start;
}

.chika {
  align-items: end;
  margin-bottom: 0;
}

.plus_message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.plus_message img {
  width: 17vw;
  max-width: 280px;
  min-width: 120px;
}

.plus_message_text {
  text-align: left;
  margin-left: 1.5vw;
  white-space: nowrap;
  font-weight: bold;
}

.plus_message_text h3 {
  font-size: clamp(16px, 2vw, 32px);
}

/* PROGRAM */
.program {
  padding-top: 10vw;
}

.program_wp {
  width: 75vw;
  max-width: 1000px;
  margin: 5vw auto 0;
  font-weight: bold;
  line-height: 2;
}

.program_wp span {
  float: right;
}

/* COST */
.cost {
  padding-top: 10vw;
}

.cost_wp {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  justify-items: center;
  gap: 15px;
  width: 86vw;
  max-width: 1310px;
  margin: 5vw auto 0;
}

.cost_wp img {
  width: 100%;
}

/* ACCESS */
.access {
  padding-top: 10vw;
}

.access_text {
  display: flex;
  justify-content: center;
  margin: 5vw auto 0;
  text-align: center;
  font-weight: bold;
  font-size: clamp(12px, 1.5vw, 21px);
  line-height: 1.5;
}

.access_text p {
  text-align: left;
  margin: 0 auto;
}

.map {
  width: 100%;
  height: 40vw;
  margin-top: 10vw;
}

/* CONTACT */
.contact {
  padding-top: 10vw;
}

.form_info {
  width: fit-content;
  margin: 5vw auto 0;
  text-align: left;
  font-weight: bold;
  line-height: 1.5;
}

.form {
  margin-top: 1vw;
  width: 100%;
  max-width: 640px;
  height: 130vw;
  max-height: 800px;
}

/* FOOTER */
.footer {
  width: 80vw;
  max-width: 480px;
  margin: 10vw auto 5vw;
}
.footer h2 {
  margin-bottom: 1vw;
  color: #EC2AB2;
  font-size: clamp(2px, 8vw, 48px);
  font-weight: bold;
}

.footer p {
  margin-bottom: 1vw;
  font-size: clamp(2px, 3vw, 20px);
  font-weight: bold;
}

.sns_icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
  margin: 3vw auto 0;
}

.sns_icons a img {
  width: 10vw;
  max-width: 60px;
}

.anniversary_logo {
  width: 60vw;
  max-width: 360px;
  margin: 4vw auto;
}




@media screen and (max-width: 500px) {

  #g-nav {
    position: absolute;
    z-index: 100;
    top:0;
    right: -120%;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    background:#fff;
    transition: all 0.6s;
  }

  #g-nav.panelactive {
    right: 0;
  }

  #g-nav ul {
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  #g-nav li{
    list-style: none;
    text-align: center;
  }

  #g-nav li a{
    color: #333;
    text-decoration: none;
    padding:10px;
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: bold;
  }

  .openbtn{
    position:fixed;
    z-index: 9999;
    top: 5px;
    right: 12px;
    cursor: pointer;
    width: 42.89px;
    height: 42.89px;
  }
    
  .openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 10%;
    height: 3px;
    border-radius: 2px;
    background-color: #666;
    width: 80%;
  }

  .openbtn span:nth-of-type(1) {
    top: calc(25% - 1.5px);
  }

  .openbtn span:nth-of-type(2) {
    top: calc(50% - 1.5px);
  }

  .openbtn span:nth-of-type(3) {
    top: calc(75% - 1.5px);
  }

  .openbtn.active span:nth-of-type(1) {
    top: calc(25% - 1.5px);
    transform: translateY(10.7225px) rotate(-45deg);
    width: 80%;
  }

  .openbtn.active span:nth-of-type(2) {
    opacity: 0;
  }

  .openbtn.active span:nth-of-type(3){
    top: calc(75% - 1.5px);
    transform: translateY(-10.75225px) rotate(45deg);
    width: 80%;
  }

  .header {
    padding: 5px 12px;
  }

  .header nav ul {
    display: block;
  }

  .message,
  .program,
  .cost,
  .access,
  .contact {
    padding-top: 20vw;
  }

  .home {
    flex-direction: column-reverse;
    justify-content: end;
    min-height: 500px;
  }

  .home_flex {
    display: block;
  }

  .home_right a img {
    float: right;
  }

  .message_text,
  .plus_message,
  .program_wp,
  .cost_wp img {
    width: 86vw;
  }

  .yasuda_message {
    display: block;
  }

  .yasuda_message_text {
    width: auto;
  }

  .plus_message_text {
    width: 40vw;
  }

  .message_flex {
    display: block;
  }

  .message_flex_inner {
    align-items: center;
    height: 35vw;
  }

  .cost_wp {
    grid-template-columns: repeat(1, minmax(43vw, 1fr));
    justify-items: center;
  }

  .map {
    height: 80vw;
  }

  .footer {
    margin-top: 20vw;
  }
}